In [1]:
import numpy as np
import pandas as pd

print("Anaconda ‡∏û‡∏£‡πâ‡∏≠‡∏°‡πÉ‡∏ä‡πâ‡∏á‡∏≤‡∏ô‡πÅ‡∏•‡πâ‡∏ß üöÄ")

Anaconda ‡∏û‡∏£‡πâ‡∏≠‡∏°‡πÉ‡∏ä‡πâ‡∏á‡∏≤‡∏ô‡πÅ‡∏•‡πâ‡∏ß üöÄ

In [2]:
df = pd.read_csv(r'D:\DATA_Project\customer_feedback_analysis\data_set\customer_feedback.csv')
df.head()

,customer_id,age,gender,product,rating,feedback,sentiment,spend,date
0,C001,25.0,M,Phone,5,‡∏™‡∏¥‡∏ô‡∏Ñ‡πâ‡∏≤‡∏î‡∏µ‡∏°‡∏≤‡∏Å ‡πÉ‡∏ä‡πâ‡∏á‡∏≤‡∏ô‡∏•‡∏∑‡πà‡∏ô,positive,15900,2024-01-05
1,C002,30.0,F,Laptop,4,‡πÄ‡∏Ñ‡∏£‡∏∑‡πà‡∏≠‡∏á‡πÅ‡∏£‡∏á ‡πÅ‡∏ï‡πà‡πÅ‡∏ö‡∏ï‡∏´‡∏°‡∏î‡πÑ‡∏ß,neutral,28900,2024-01-06
2,C003,22.0,F,Phone,2,‡πÄ‡∏Ñ‡∏£‡∏∑‡πà‡∏≠‡∏á‡∏ä‡πâ‡∏≤‡πÅ‡∏•‡∏∞‡∏Ñ‡πâ‡∏≤‡∏á‡∏ö‡πà‡∏≠‡∏¢,negative,12900,2024-01-06
3,C004,40.0,M,Tablet,5,‡πÄ‡∏´‡∏°‡∏≤‡∏∞‡∏Å‡∏±‡∏ö‡∏ó‡∏≥‡∏á‡∏≤‡∏ô‡∏°‡∏≤‡∏Å,positive,18900,2024-01-07
4,C005,NaN,F,Laptop,3,‡πÄ‡∏â‡∏¢ ‡πÜ ‡πÑ‡∏°‡πà‡∏Ñ‡∏∏‡πâ‡∏°‡∏£‡∏≤‡∏Ñ‡∏≤,neutral,27900,2024-01-08

In [3]:
df.shape

(8, 9)

In [4]:
df.head(8)

,customer_id,age,gender,product,rating,feedback,sentiment,spend,date
0,C001,25.0,M,Phone,5,‡∏™‡∏¥‡∏ô‡∏Ñ‡πâ‡∏≤‡∏î‡∏µ‡∏°‡∏≤‡∏Å ‡πÉ‡∏ä‡πâ‡∏á‡∏≤‡∏ô‡∏•‡∏∑‡πà‡∏ô,positive,15900,2024-01-05
1,C002,30.0,F,Laptop,4,‡πÄ‡∏Ñ‡∏£‡∏∑‡πà‡∏≠‡∏á‡πÅ‡∏£‡∏á ‡πÅ‡∏ï‡πà‡πÅ‡∏ö‡∏ï‡∏´‡∏°‡∏î‡πÑ‡∏ß,neutral,28900,2024-01-06
2,C003,22.0,F,Phone,2,‡πÄ‡∏Ñ‡∏£‡∏∑‡πà‡∏≠‡∏á‡∏ä‡πâ‡∏≤‡πÅ‡∏•‡∏∞‡∏Ñ‡πâ‡∏≤‡∏á‡∏ö‡πà‡∏≠‡∏¢,negative,12900,2024-01-06
3,C004,40.0,M,Tablet,5,‡πÄ‡∏´‡∏°‡∏≤‡∏∞‡∏Å‡∏±‡∏ö‡∏ó‡∏≥‡∏á‡∏≤‡∏ô‡∏°‡∏≤‡∏Å,positive,18900,2024-01-07
4,C005,NaN,F,Laptop,3,‡πÄ‡∏â‡∏¢ ‡πÜ ‡πÑ‡∏°‡πà‡∏Ñ‡∏∏‡πâ‡∏°‡∏£‡∏≤‡∏Ñ‡∏≤,neutral,27900,2024-01-08
5,C006,35.0,M,Phone,1,‡πÅ‡∏¢‡πà‡∏°‡∏≤‡∏Å ‡∏û‡∏±‡∏á‡πÄ‡∏£‡πá‡∏ß,negative,9900,2024-01-08
6,C007,28.0,F,Tablet,4,‡∏à‡∏≠‡∏ä‡∏±‡∏î ‡πÉ‡∏ä‡πâ‡∏á‡πà‡∏≤‡∏¢,positive,17500,2024-01-09
7,C008,45.0,M,Laptop,5,‡∏Ñ‡∏∏‡πâ‡∏°‡∏Ñ‡πà‡∏≤‡∏°‡∏≤‡∏Å ‡πÅ‡∏ô‡∏∞‡∏ô‡∏≥,positive,31900,2024-01-10

In [5]:
df.tail()

,customer_id,age,gender,product,rating,feedback,sentiment,spend,date
3,C004,40.0,M,Tablet,5,‡πÄ‡∏´‡∏°‡∏≤‡∏∞‡∏Å‡∏±‡∏ö‡∏ó‡∏≥‡∏á‡∏≤‡∏ô‡∏°‡∏≤‡∏Å,positive,18900,2024-01-07
4,C005,NaN,F,Laptop,3,‡πÄ‡∏â‡∏¢ ‡πÜ ‡πÑ‡∏°‡πà‡∏Ñ‡∏∏‡πâ‡∏°‡∏£‡∏≤‡∏Ñ‡∏≤,neutral,27900,2024-01-08
5,C006,35.0,M,Phone,1,‡πÅ‡∏¢‡πà‡∏°‡∏≤‡∏Å ‡∏û‡∏±‡∏á‡πÄ‡∏£‡πá‡∏ß,negative,9900,2024-01-08
6,C007,28.0,F,Tablet,4,‡∏à‡∏≠‡∏ä‡∏±‡∏î ‡πÉ‡∏ä‡πâ‡∏á‡πà‡∏≤‡∏¢,positive,17500,2024-01-09
7,C008,45.0,M,Laptop,5,‡∏Ñ‡∏∏‡πâ‡∏°‡∏Ñ‡πà‡∏≤‡∏°‡∏≤‡∏Å ‡πÅ‡∏ô‡∏∞‡∏ô‡∏≥,positive,31900,2024-01-10

In [6]:
df.sample()

,customer_id,age,gender,product,rating,feedback,sentiment,spend,date
3,C004,40.0,M,Tablet,5,‡πÄ‡∏´‡∏°‡∏≤‡∏∞‡∏Å‡∏±‡∏ö‡∏ó‡∏≥‡∏á‡∏≤‡∏ô‡∏°‡∏≤‡∏Å,positive,18900,2024-01-07

In [7]:
df

,customer_id,age,gender,product,rating,feedback,sentiment,spend,date
0,C001,25.0,M,Phone,5,‡∏™‡∏¥‡∏ô‡∏Ñ‡πâ‡∏≤‡∏î‡∏µ‡∏°‡∏≤‡∏Å ‡πÉ‡∏ä‡πâ‡∏á‡∏≤‡∏ô‡∏•‡∏∑‡πà‡∏ô,positive,15900,2024-01-05
1,C002,30.0,F,Laptop,4,‡πÄ‡∏Ñ‡∏£‡∏∑‡πà‡∏≠‡∏á‡πÅ‡∏£‡∏á ‡πÅ‡∏ï‡πà‡πÅ‡∏ö‡∏ï‡∏´‡∏°‡∏î‡πÑ‡∏ß,neutral,28900,2024-01-06
2,C003,22.0,F,Phone,2,‡πÄ‡∏Ñ‡∏£‡∏∑‡πà‡∏≠‡∏á‡∏ä‡πâ‡∏≤‡πÅ‡∏•‡∏∞‡∏Ñ‡πâ‡∏≤‡∏á‡∏ö‡πà‡∏≠‡∏¢,negative,12900,2024-01-06
3,C004,40.0,M,Tablet,5,‡πÄ‡∏´‡∏°‡∏≤‡∏∞‡∏Å‡∏±‡∏ö‡∏ó‡∏≥‡∏á‡∏≤‡∏ô‡∏°‡∏≤‡∏Å,positive,18900,2024-01-07
4,C005,NaN,F,Laptop,3,‡πÄ‡∏â‡∏¢ ‡πÜ ‡πÑ‡∏°‡πà‡∏Ñ‡∏∏‡πâ‡∏°‡∏£‡∏≤‡∏Ñ‡∏≤,neutral,27900,2024-01-08
5,C006,35.0,M,Phone,1,‡πÅ‡∏¢‡πà‡∏°‡∏≤‡∏Å ‡∏û‡∏±‡∏á‡πÄ‡∏£‡πá‡∏ß,negative,9900,2024-01-08
6,C007,28.0,F,Tablet,4,‡∏à‡∏≠‡∏ä‡∏±‡∏î ‡πÉ‡∏ä‡πâ‡∏á‡πà‡∏≤‡∏¢,positive,17500,2024-01-09
7,C008,45.0,M,Laptop,5,‡∏Ñ‡∏∏‡πâ‡∏°‡∏Ñ‡πà‡∏≤‡∏°‡∏≤‡∏Å ‡πÅ‡∏ô‡∏∞‡∏ô‡∏≥,positive,31900,2024-01-10

In [8]:
df.columns

Index(['customer_id', 'age', 'gender', 'product', 'rating', 'feedback',
       'sentiment', 'spend', 'date'],
      dtype='object')

In [9]:
df["feedback"]

0    ‡∏™‡∏¥‡∏ô‡∏Ñ‡πâ‡∏≤‡∏î‡∏µ‡∏°‡∏≤‡∏Å ‡πÉ‡∏ä‡πâ‡∏á‡∏≤‡∏ô‡∏•‡∏∑‡πà‡∏ô
1    ‡πÄ‡∏Ñ‡∏£‡∏∑‡πà‡∏≠‡∏á‡πÅ‡∏£‡∏á ‡πÅ‡∏ï‡πà‡πÅ‡∏ö‡∏ï‡∏´‡∏°‡∏î‡πÑ‡∏ß
2     ‡πÄ‡∏Ñ‡∏£‡∏∑‡πà‡∏≠‡∏á‡∏ä‡πâ‡∏≤‡πÅ‡∏•‡∏∞‡∏Ñ‡πâ‡∏≤‡∏á‡∏ö‡πà‡∏≠‡∏¢
3          ‡πÄ‡∏´‡∏°‡∏≤‡∏∞‡∏Å‡∏±‡∏ö‡∏ó‡∏≥‡∏á‡∏≤‡∏ô‡∏°‡∏≤‡∏Å
4         ‡πÄ‡∏â‡∏¢ ‡πÜ ‡πÑ‡∏°‡πà‡∏Ñ‡∏∏‡πâ‡∏°‡∏£‡∏≤‡∏Ñ‡∏≤
5            ‡πÅ‡∏¢‡πà‡∏°‡∏≤‡∏Å ‡∏û‡∏±‡∏á‡πÄ‡∏£‡πá‡∏ß
6             ‡∏à‡∏≠‡∏ä‡∏±‡∏î ‡πÉ‡∏ä‡πâ‡∏á‡πà‡∏≤‡∏¢
7          ‡∏Ñ‡∏∏‡πâ‡∏°‡∏Ñ‡πà‡∏≤‡∏°‡∏≤‡∏Å ‡πÅ‡∏ô‡∏∞‡∏ô‡∏≥
Name: feedback, dtype: object

In [10]:
df[['feedback','rating']]

                 feedback  rating
0  ‡∏™‡∏¥‡∏ô‡∏Ñ‡πâ‡∏≤‡∏î‡∏µ‡∏°‡∏≤‡∏Å ‡πÉ‡∏ä‡πâ‡∏á‡∏≤‡∏ô‡∏•‡∏∑‡πà‡∏ô       5
1  ‡πÄ‡∏Ñ‡∏£‡∏∑‡πà‡∏≠‡∏á‡πÅ‡∏£‡∏á ‡πÅ‡∏ï‡πà‡πÅ‡∏ö‡∏ï‡∏´‡∏°‡∏î‡πÑ‡∏ß       4
2   ‡πÄ‡∏Ñ‡∏£‡∏∑‡πà‡∏≠‡∏á‡∏ä‡πâ‡∏≤‡πÅ‡∏•‡∏∞‡∏Ñ‡πâ‡∏≤‡∏á‡∏ö‡πà‡∏≠‡∏¢       2
3        ‡πÄ‡∏´‡∏°‡∏≤‡∏∞‡∏Å‡∏±‡∏ö‡∏ó‡∏≥‡∏á‡∏≤‡∏ô‡∏°‡∏≤‡∏Å       5
4       ‡πÄ‡∏â‡∏¢ ‡πÜ ‡πÑ‡∏°‡πà‡∏Ñ‡∏∏‡πâ‡∏°‡∏£‡∏≤‡∏Ñ‡∏≤       3
5          ‡πÅ‡∏¢‡πà‡∏°‡∏≤‡∏Å ‡∏û‡∏±‡∏á‡πÄ‡∏£‡πá‡∏ß       1
6           ‡∏à‡∏≠‡∏ä‡∏±‡∏î ‡πÉ‡∏ä‡πâ‡∏á‡πà‡∏≤‡∏¢       4
7        ‡∏Ñ‡∏∏‡πâ‡∏°‡∏Ñ‡πà‡∏≤‡∏°‡∏≤‡∏Å ‡πÅ‡∏ô‡∏∞‡∏ô‡∏≥       5

In [11]:
df[df["rating"] >= 4] # data filtering

,customer_id,age,gender,product,rating,feedback,sentiment,spend,date
0,C001,25.0,M,Phone,5,‡∏™‡∏¥‡∏ô‡∏Ñ‡πâ‡∏≤‡∏î‡∏µ‡∏°‡∏≤‡∏Å ‡πÉ‡∏ä‡πâ‡∏á‡∏≤‡∏ô‡∏•‡∏∑‡πà‡∏ô,positive,15900,2024-01-05
1,C002,30.0,F,Laptop,4,‡πÄ‡∏Ñ‡∏£‡∏∑‡πà‡∏≠‡∏á‡πÅ‡∏£‡∏á ‡πÅ‡∏ï‡πà‡πÅ‡∏ö‡∏ï‡∏´‡∏°‡∏î‡πÑ‡∏ß,neutral,28900,2024-01-06
3,C004,40.0,M,Tablet,5,‡πÄ‡∏´‡∏°‡∏≤‡∏∞‡∏Å‡∏±‡∏ö‡∏ó‡∏≥‡∏á‡∏≤‡∏ô‡∏°‡∏≤‡∏Å,positive,18900,2024-01-07
6,C007,28.0,F,Tablet,4,‡∏à‡∏≠‡∏ä‡∏±‡∏î ‡πÉ‡∏ä‡πâ‡∏á‡πà‡∏≤‡∏¢,positive,17500,2024-01-09
7,C008,45.0,M,Laptop,5,‡∏Ñ‡∏∏‡πâ‡∏°‡∏Ñ‡πà‡∏≤‡∏°‡∏≤‡∏Å ‡πÅ‡∏ô‡∏∞‡∏ô‡∏≥,positive,31900,2024-01-10

In [12]:
df['rating'].value_counts() 
df

,customer_id,age,gender,product,rating,feedback,sentiment,spend,date
0,C001,25.0,M,Phone,5,‡∏™‡∏¥‡∏ô‡∏Ñ‡πâ‡∏≤‡∏î‡∏µ‡∏°‡∏≤‡∏Å ‡πÉ‡∏ä‡πâ‡∏á‡∏≤‡∏ô‡∏•‡∏∑‡πà‡∏ô,positive,15900,2024-01-05
1,C002,30.0,F,Laptop,4,‡πÄ‡∏Ñ‡∏£‡∏∑‡πà‡∏≠‡∏á‡πÅ‡∏£‡∏á ‡πÅ‡∏ï‡πà‡πÅ‡∏ö‡∏ï‡∏´‡∏°‡∏î‡πÑ‡∏ß,neutral,28900,2024-01-06
2,C003,22.0,F,Phone,2,‡πÄ‡∏Ñ‡∏£‡∏∑‡πà‡∏≠‡∏á‡∏ä‡πâ‡∏≤‡πÅ‡∏•‡∏∞‡∏Ñ‡πâ‡∏≤‡∏á‡∏ö‡πà‡∏≠‡∏¢,negative,12900,2024-01-06
3,C004,40.0,M,Tablet,5,‡πÄ‡∏´‡∏°‡∏≤‡∏∞‡∏Å‡∏±‡∏ö‡∏ó‡∏≥‡∏á‡∏≤‡∏ô‡∏°‡∏≤‡∏Å,positive,18900,2024-01-07
4,C005,NaN,F,Laptop,3,‡πÄ‡∏â‡∏¢ ‡πÜ ‡πÑ‡∏°‡πà‡∏Ñ‡∏∏‡πâ‡∏°‡∏£‡∏≤‡∏Ñ‡∏≤,neutral,27900,2024-01-08
5,C006,35.0,M,Phone,1,‡πÅ‡∏¢‡πà‡∏°‡∏≤‡∏Å ‡∏û‡∏±‡∏á‡πÄ‡∏£‡πá‡∏ß,negative,9900,2024-01-08
6,C007,28.0,F,Tablet,4,‡∏à‡∏≠‡∏ä‡∏±‡∏î ‡πÉ‡∏ä‡πâ‡∏á‡πà‡∏≤‡∏¢,positive,17500,2024-01-09
7,C008,45.0,M,Laptop,5,‡∏Ñ‡∏∏‡πâ‡∏°‡∏Ñ‡πà‡∏≤‡∏°‡∏≤‡∏Å ‡πÅ‡∏ô‡∏∞‡∏ô‡∏≥,positive,31900,2024-01-10

In [16]:
# lambda form
df['sentiment'] = df["rating"].apply(
    lambda x: "positive" if x >= 4 else('negative' if x <= 2 else 'neutral')
    )
df["sentiment"].value_counts()

sentiment
positive    5
negative    2
neutral     1
Name: count, dtype: int64

In [24]:
# def form
def convert_sentiment(x):
    if x >= 4:
        return 'positive'
    elif x <= 2:
        return 'negative'
    else:
        return 'neutral'

df['sentiment'] = df['rating'].apply(convert_sentiment)
df[['sentiment','rating']] #‡∏à‡∏±‡∏î‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡πÄ‡∏£‡∏µ‡∏¢‡∏ö‡∏£‡πâ‡∏≠‡∏¢

  sentiment  rating
0  positive       5
1  positive       4
2  negative       2
3  positive       5
4   neutral       3
5  negative       1
6  positive       4
7  positive       5

In [27]:
df.sort_values(by = 'rating', ascending = False) #‡πÄ‡∏£‡∏µ‡∏¢‡∏á rating‡∏à‡∏≤‡∏Å‡∏°‡∏≤‡∏Å‡πÑ‡∏õ‡∏ô‡πâ‡∏≠‡∏¢

,customer_id,age,gender,product,rating,feedback,sentiment,spend,date
5,C006,35.0,M,Phone,1,‡πÅ‡∏¢‡πà‡∏°‡∏≤‡∏Å ‡∏û‡∏±‡∏á‡πÄ‡∏£‡πá‡∏ß,negative,9900,2024-01-08
2,C003,22.0,F,Phone,2,‡πÄ‡∏Ñ‡∏£‡∏∑‡πà‡∏≠‡∏á‡∏ä‡πâ‡∏≤‡πÅ‡∏•‡∏∞‡∏Ñ‡πâ‡∏≤‡∏á‡∏ö‡πà‡∏≠‡∏¢,negative,12900,2024-01-06
4,C005,NaN,F,Laptop,3,‡πÄ‡∏â‡∏¢ ‡πÜ ‡πÑ‡∏°‡πà‡∏Ñ‡∏∏‡πâ‡∏°‡∏£‡∏≤‡∏Ñ‡∏≤,neutral,27900,2024-01-08
1,C002,30.0,F,Laptop,4,‡πÄ‡∏Ñ‡∏£‡∏∑‡πà‡∏≠‡∏á‡πÅ‡∏£‡∏á ‡πÅ‡∏ï‡πà‡πÅ‡∏ö‡∏ï‡∏´‡∏°‡∏î‡πÑ‡∏ß,positive,28900,2024-01-06
6,C007,28.0,F,Tablet,4,‡∏à‡∏≠‡∏ä‡∏±‡∏î ‡πÉ‡∏ä‡πâ‡∏á‡πà‡∏≤‡∏¢,positive,17500,2024-01-09
0,C001,25.0,M,Phone,5,‡∏™‡∏¥‡∏ô‡∏Ñ‡πâ‡∏≤‡∏î‡∏µ‡∏°‡∏≤‡∏Å ‡πÉ‡∏ä‡πâ‡∏á‡∏≤‡∏ô‡∏•‡∏∑‡πà‡∏ô,positive,15900,2024-01-05
3,C004,40.0,M,Tablet,5,‡πÄ‡∏´‡∏°‡∏≤‡∏∞‡∏Å‡∏±‡∏ö‡∏ó‡∏≥‡∏á‡∏≤‡∏ô‡∏°‡∏≤‡∏Å,positive,18900,2024-01-07
7,C008,45.0,M,Laptop,5,‡∏Ñ‡∏∏‡πâ‡∏°‡∏Ñ‡πà‡∏≤‡∏°‡∏≤‡∏Å ‡πÅ‡∏ô‡∏∞‡∏ô‡∏≥,positive,31900,2024-01-10

In [28]:
#check missing values
df.isnull().sum()

customer_id    0
age            1
gender         0
product        0
rating         0
feedback       0
sentiment      0
spend          0
date           0
dtype: int64

In [29]:
df.dropna()# delete missing column

,customer_id,age,gender,product,rating,feedback,sentiment,spend,date
0,C001,25.0,M,Phone,5,‡∏™‡∏¥‡∏ô‡∏Ñ‡πâ‡∏≤‡∏î‡∏µ‡∏°‡∏≤‡∏Å ‡πÉ‡∏ä‡πâ‡∏á‡∏≤‡∏ô‡∏•‡∏∑‡πà‡∏ô,positive,15900,2024-01-05
1,C002,30.0,F,Laptop,4,‡πÄ‡∏Ñ‡∏£‡∏∑‡πà‡∏≠‡∏á‡πÅ‡∏£‡∏á ‡πÅ‡∏ï‡πà‡πÅ‡∏ö‡∏ï‡∏´‡∏°‡∏î‡πÑ‡∏ß,positive,28900,2024-01-06
2,C003,22.0,F,Phone,2,‡πÄ‡∏Ñ‡∏£‡∏∑‡πà‡∏≠‡∏á‡∏ä‡πâ‡∏≤‡πÅ‡∏•‡∏∞‡∏Ñ‡πâ‡∏≤‡∏á‡∏ö‡πà‡∏≠‡∏¢,negative,12900,2024-01-06
3,C004,40.0,M,Tablet,5,‡πÄ‡∏´‡∏°‡∏≤‡∏∞‡∏Å‡∏±‡∏ö‡∏ó‡∏≥‡∏á‡∏≤‡∏ô‡∏°‡∏≤‡∏Å,positive,18900,2024-01-07
5,C006,35.0,M,Phone,1,‡πÅ‡∏¢‡πà‡∏°‡∏≤‡∏Å ‡∏û‡∏±‡∏á‡πÄ‡∏£‡πá‡∏ß,negative,9900,2024-01-08
6,C007,28.0,F,Tablet,4,‡∏à‡∏≠‡∏ä‡∏±‡∏î ‡πÉ‡∏ä‡πâ‡∏á‡πà‡∏≤‡∏¢,positive,17500,2024-01-09
7,C008,45.0,M,Laptop,5,‡∏Ñ‡∏∏‡πâ‡∏°‡∏Ñ‡πà‡∏≤‡∏°‡∏≤‡∏Å ‡πÅ‡∏ô‡∏∞‡∏ô‡∏≥,positive,31900,2024-01-10

In [30]:
df.fillna('unknow')

,customer_id,age,gender,product,rating,feedback,sentiment,spend,date
0,C001,25.0,M,Phone,5,‡∏™‡∏¥‡∏ô‡∏Ñ‡πâ‡∏≤‡∏î‡∏µ‡∏°‡∏≤‡∏Å ‡πÉ‡∏ä‡πâ‡∏á‡∏≤‡∏ô‡∏•‡∏∑‡πà‡∏ô,positive,15900,2024-01-05
1,C002,30.0,F,Laptop,4,‡πÄ‡∏Ñ‡∏£‡∏∑‡πà‡∏≠‡∏á‡πÅ‡∏£‡∏á ‡πÅ‡∏ï‡πà‡πÅ‡∏ö‡∏ï‡∏´‡∏°‡∏î‡πÑ‡∏ß,positive,28900,2024-01-06
2,C003,22.0,F,Phone,2,‡πÄ‡∏Ñ‡∏£‡∏∑‡πà‡∏≠‡∏á‡∏ä‡πâ‡∏≤‡πÅ‡∏•‡∏∞‡∏Ñ‡πâ‡∏≤‡∏á‡∏ö‡πà‡∏≠‡∏¢,negative,12900,2024-01-06
3,C004,40.0,M,Tablet,5,‡πÄ‡∏´‡∏°‡∏≤‡∏∞‡∏Å‡∏±‡∏ö‡∏ó‡∏≥‡∏á‡∏≤‡∏ô‡∏°‡∏≤‡∏Å,positive,18900,2024-01-07
4,C005,unknow,F,Laptop,3,‡πÄ‡∏â‡∏¢ ‡πÜ ‡πÑ‡∏°‡πà‡∏Ñ‡∏∏‡πâ‡∏°‡∏£‡∏≤‡∏Ñ‡∏≤,neutral,27900,2024-01-08
5,C006,35.0,M,Phone,1,‡πÅ‡∏¢‡πà‡∏°‡∏≤‡∏Å ‡∏û‡∏±‡∏á‡πÄ‡∏£‡πá‡∏ß,negative,9900,2024-01-08
6,C007,28.0,F,Tablet,4,‡∏à‡∏≠‡∏ä‡∏±‡∏î ‡πÉ‡∏ä‡πâ‡∏á‡πà‡∏≤‡∏¢,positive,17500,2024-01-09
7,C008,45.0,M,Laptop,5,‡∏Ñ‡∏∏‡πâ‡∏°‡∏Ñ‡πà‡∏≤‡∏°‡∏≤‡∏Å ‡πÅ‡∏ô‡∏∞‡∏ô‡∏≥,positive,31900,2024-01-10

In [31]:
df.groupby('sentiment')["rating"].mean()

sentiment
negative    1.5
neutral     3.0
positive    4.6
Name: rating, dtype: float64

In [32]:
df.to_csv('clean_feedback.csv', index = False)

In [36]:
fd = pd.read_csv(r'D:\DATA_Project\customer_feedback_analysis\data_set\clean_feedback.csv')
fd

,customer_id,age,gender,product,rating,feedback,sentiment,spend,date
0,C001,25.0,M,Phone,5,‡∏™‡∏¥‡∏ô‡∏Ñ‡πâ‡∏≤‡∏î‡∏µ‡∏°‡∏≤‡∏Å ‡πÉ‡∏ä‡πâ‡∏á‡∏≤‡∏ô‡∏•‡∏∑‡πà‡∏ô,positive,15900,2024-01-05
1,C002,30.0,F,Laptop,4,‡πÄ‡∏Ñ‡∏£‡∏∑‡πà‡∏≠‡∏á‡πÅ‡∏£‡∏á ‡πÅ‡∏ï‡πà‡πÅ‡∏ö‡∏ï‡∏´‡∏°‡∏î‡πÑ‡∏ß,positive,28900,2024-01-06
2,C003,22.0,F,Phone,2,‡πÄ‡∏Ñ‡∏£‡∏∑‡πà‡∏≠‡∏á‡∏ä‡πâ‡∏≤‡πÅ‡∏•‡∏∞‡∏Ñ‡πâ‡∏≤‡∏á‡∏ö‡πà‡∏≠‡∏¢,negative,12900,2024-01-06
3,C004,40.0,M,Tablet,5,‡πÄ‡∏´‡∏°‡∏≤‡∏∞‡∏Å‡∏±‡∏ö‡∏ó‡∏≥‡∏á‡∏≤‡∏ô‡∏°‡∏≤‡∏Å,positive,18900,2024-01-07
4,C005,NaN,F,Laptop,3,‡πÄ‡∏â‡∏¢ ‡πÜ ‡πÑ‡∏°‡πà‡∏Ñ‡∏∏‡πâ‡∏°‡∏£‡∏≤‡∏Ñ‡∏≤,neutral,27900,2024-01-08
5,C006,35.0,M,Phone,1,‡πÅ‡∏¢‡πà‡∏°‡∏≤‡∏Å ‡∏û‡∏±‡∏á‡πÄ‡∏£‡πá‡∏ß,negative,9900,2024-01-08
6,C007,28.0,F,Tablet,4,‡∏à‡∏≠‡∏ä‡∏±‡∏î ‡πÉ‡∏ä‡πâ‡∏á‡πà‡∏≤‡∏¢,positive,17500,2024-01-09
7,C008,45.0,M,Laptop,5,‡∏Ñ‡∏∏‡πâ‡∏°‡∏Ñ‡πà‡∏≤‡∏°‡∏≤‡∏Å ‡πÅ‡∏ô‡∏∞‡∏ô‡∏≥,positive,31900,2024-01-10

In [38]:
fd['date'] = pd.to_datetime(df['date'])
fd

,customer_id,age,gender,product,rating,feedback,sentiment,spend,date
0,C001,25.0,M,Phone,5,‡∏™‡∏¥‡∏ô‡∏Ñ‡πâ‡∏≤‡∏î‡∏µ‡∏°‡∏≤‡∏Å ‡πÉ‡∏ä‡πâ‡∏á‡∏≤‡∏ô‡∏•‡∏∑‡πà‡∏ô,positive,15900,2024-01-05
1,C002,30.0,F,Laptop,4,‡πÄ‡∏Ñ‡∏£‡∏∑‡πà‡∏≠‡∏á‡πÅ‡∏£‡∏á ‡πÅ‡∏ï‡πà‡πÅ‡∏ö‡∏ï‡∏´‡∏°‡∏î‡πÑ‡∏ß,positive,28900,2024-01-06
2,C003,22.0,F,Phone,2,‡πÄ‡∏Ñ‡∏£‡∏∑‡πà‡∏≠‡∏á‡∏ä‡πâ‡∏≤‡πÅ‡∏•‡∏∞‡∏Ñ‡πâ‡∏≤‡∏á‡∏ö‡πà‡∏≠‡∏¢,negative,12900,2024-01-06
3,C004,40.0,M,Tablet,5,‡πÄ‡∏´‡∏°‡∏≤‡∏∞‡∏Å‡∏±‡∏ö‡∏ó‡∏≥‡∏á‡∏≤‡∏ô‡∏°‡∏≤‡∏Å,positive,18900,2024-01-07
4,C005,NaN,F,Laptop,3,‡πÄ‡∏â‡∏¢ ‡πÜ ‡πÑ‡∏°‡πà‡∏Ñ‡∏∏‡πâ‡∏°‡∏£‡∏≤‡∏Ñ‡∏≤,neutral,27900,2024-01-08
5,C006,35.0,M,Phone,1,‡πÅ‡∏¢‡πà‡∏°‡∏≤‡∏Å ‡∏û‡∏±‡∏á‡πÄ‡∏£‡πá‡∏ß,negative,9900,2024-01-08
6,C007,28.0,F,Tablet,4,‡∏à‡∏≠‡∏ä‡∏±‡∏î ‡πÉ‡∏ä‡πâ‡∏á‡πà‡∏≤‡∏¢,positive,17500,2024-01-09
7,C008,45.0,M,Laptop,5,‡∏Ñ‡∏∏‡πâ‡∏°‡∏Ñ‡πà‡∏≤‡∏°‡∏≤‡∏Å ‡πÅ‡∏ô‡∏∞‡∏ô‡∏≥,positive,31900,2024-01-10

In [40]:
fd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  8 non-null      object
 1   age          7 non-null      float64
 2   gender       8 non-null      object
 3   product      8 non-null      object
 4   rating       8 non-null      int64
 5   feedback     8 non-null      object
 6   sentiment    8 non-null      object
 7   spend        8 non-null      int64
 8   date         8 non-null      datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2), object(5)
memory usage: 708.0+ bytes