In [1]:
import pandas as pd
import numpy as np
print('Dataset 1000+')

Dataset 1000+

In [2]:
np.random.seed(42)
n = 1500 #customers

In [10]:
customer_id = [f'C{str(i).zfill(4)}' for i in range(1, n+1)]

age = np.random.randint(18,65,size = n)
gender = np.random.choice(['M','F'],size = n)
product_category = np.random.choice(
    ['Phone', 'Laptop', 'Tablet', 'Accessory'],
    size = n,
    p = [0.4, 0.3, 0.2, 0.1]
)

In [5]:
purchase_amount = np.random.normal(loc=20000, scale=8000, size = n).astype(int)
purchase_amount = np.clip(purchase_amount, 1000, 60000)# min,max protect negative & over value 
 
purchase_frequency = np.random.poisson(lam = 3, size = n) #frequency
last_purchase_days = np.random.randint(1, 180, size = n)#day counts after buy

In [6]:
is_high_value = (
    (purchase_amount > 25000) &
    (purchase_frequency >= 3) &
    (last_purchase_days < 60)
).astype(int) # true = 1 ,false = 0

In [11]:
df =pd.DataFrame({
    'customer_id': customer_id,
    'age': age,
    'gender': gender,
    'product_category': product_category,
    'purchase_amount': purchase_amount,
    'purchase_frequency': purchase_frequency,
    'last_purchase_days': last_purchase_days,
    'is_high_value': is_high_value
})

df.head()

,customer_id,age,gender,product_category,purchase_amount,purchase_frequency,last_purchase_days,is_high_value
0,C0001,30,M,Accessory,24929,4,79,0
1,C0002,49,F,Laptop,24452,2,37,0
2,C0003,39,M,Phone,24012,3,45,0
3,C0004,42,M,Phone,14337,3,142,0
4,C0005,44,M,Phone,7784,3,43,0

In [20]:
df.groupby('is_high_value').size()

is_high_value
0    1425
1      75
dtype: int64

In [21]:
df.to_csv("customer_purchase.csv",index = False)