In [1]:
import pandas as pd
import numpy as np
print("Data science")

Data science

In [3]:
df = pd.read_csv(r'D:\DATA_Project\customer_feedback_analysis\data_set\clean_feedback.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  8 non-null      object
 1   age          7 non-null      float64
 2   gender       8 non-null      object
 3   product      8 non-null      object
 4   rating       8 non-null      int64
 5   feedback     8 non-null      object
 6   sentiment    8 non-null      object
 7   spend        8 non-null      int64
 8   date         8 non-null      object
dtypes: float64(1), int64(2), object(6)
memory usage: 708.0+ bytes

In [4]:
df.columns

Index(['customer_id', 'age', 'gender', 'product', 'rating', 'feedback',
       'sentiment', 'spend', 'date'],
      dtype='object')

In [5]:
df['date'] = pd.to_datetime(df['date'])

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  8 non-null      object
 1   age          7 non-null      float64
 2   gender       8 non-null      object
 3   product      8 non-null      object
 4   rating       8 non-null      int64
 5   feedback     8 non-null      object
 6   sentiment    8 non-null      object
 7   spend        8 non-null      int64
 8   date         8 non-null      datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2), object(5)
memory usage: 708.0+ bytes

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
df.rename(columns = {'Date': 'date'}, inplace=True)
df['date'] = pd.to_datetime(df['date'])

In [9]:
df

,customer_id,age,gender,product,rating,feedback,sentiment,spend,date
0,C001,25.0,M,Phone,5,สินค้าดีมาก ใช้งานลื่น,positive,15900,2024-01-05
1,C002,30.0,F,Laptop,4,เครื่องแรง แต่แบตหมดไว,positive,28900,2024-01-06
2,C003,22.0,F,Phone,2,เครื่องช้าและค้างบ่อย,negative,12900,2024-01-06
3,C004,40.0,M,Tablet,5,เหมาะกับทำงานมาก,positive,18900,2024-01-07
4,C005,NaN,F,Laptop,3,เฉย ๆ ไม่คุ้มราคา,neutral,27900,2024-01-08
5,C006,35.0,M,Phone,1,แย่มาก พังเร็ว,negative,9900,2024-01-08
6,C007,28.0,F,Tablet,4,จอชัด ใช้ง่าย,positive,17500,2024-01-09
7,C008,45.0,M,Laptop,5,คุ้มค่ามาก แนะนำ,positive,31900,2024-01-10

In [10]:
type(df)

pandas.core.frame.DataFrame

In [11]:
df.columns

Index(['customer_id', 'age', 'gender', 'product', 'rating', 'feedback',
       'sentiment', 'spend', 'date'],
      dtype='object')

In [13]:
df.rename(columns = {'date': 'Date'}, inplace=True)
df['Date'] = pd.to_datetime(df['Date'])

In [14]:
type(df)

pandas.core.frame.DataFrame

In [15]:
df.columns

Index(['customer_id', 'age', 'gender', 'product', 'rating', 'feedback',
       'sentiment', 'spend', 'Date'],
      dtype='object')

In [16]:
df.head()

,customer_id,age,gender,product,rating,feedback,sentiment,spend,Date
0,C001,25.0,M,Phone,5,สินค้าดีมาก ใช้งานลื่น,positive,15900,2024-01-05
1,C002,30.0,F,Laptop,4,เครื่องแรง แต่แบตหมดไว,positive,28900,2024-01-06
2,C003,22.0,F,Phone,2,เครื่องช้าและค้างบ่อย,negative,12900,2024-01-06
3,C004,40.0,M,Tablet,5,เหมาะกับทำงานมาก,positive,18900,2024-01-07
4,C005,NaN,F,Laptop,3,เฉย ๆ ไม่คุ้มราคา,neutral,27900,2024-01-08

In [17]:
df

,customer_id,age,gender,product,rating,feedback,sentiment,spend,Date
0,C001,25.0,M,Phone,5,สินค้าดีมาก ใช้งานลื่น,positive,15900,2024-01-05
1,C002,30.0,F,Laptop,4,เครื่องแรง แต่แบตหมดไว,positive,28900,2024-01-06
2,C003,22.0,F,Phone,2,เครื่องช้าและค้างบ่อย,negative,12900,2024-01-06
3,C004,40.0,M,Tablet,5,เหมาะกับทำงานมาก,positive,18900,2024-01-07
4,C005,NaN,F,Laptop,3,เฉย ๆ ไม่คุ้มราคา,neutral,27900,2024-01-08
5,C006,35.0,M,Phone,1,แย่มาก พังเร็ว,negative,9900,2024-01-08
6,C007,28.0,F,Tablet,4,จอชัด ใช้ง่าย,positive,17500,2024-01-09
7,C008,45.0,M,Laptop,5,คุ้มค่ามาก แนะนำ,positive,31900,2024-01-10

In [19]:
df['age']  = df['age'].fillna(df['age'].mean())

In [20]:
df

,customer_id,age,gender,product,rating,feedback,sentiment,spend,Date
0,C001,25.000000,M,Phone,5,สินค้าดีมาก ใช้งานลื่น,positive,15900,2024-01-05
1,C002,30.000000,F,Laptop,4,เครื่องแรง แต่แบตหมดไว,positive,28900,2024-01-06
2,C003,22.000000,F,Phone,2,เครื่องช้าและค้างบ่อย,negative,12900,2024-01-06
3,C004,40.000000,M,Tablet,5,เหมาะกับทำงานมาก,positive,18900,2024-01-07
4,C005,32.142857,F,Laptop,3,เฉย ๆ ไม่คุ้มราคา,neutral,27900,2024-01-08
5,C006,35.000000,M,Phone,1,แย่มาก พังเร็ว,negative,9900,2024-01-08
6,C007,28.000000,F,Tablet,4,จอชัด ใช้ง่าย,positive,17500,2024-01-09
7,C008,45.000000,M,Laptop,5,คุ้มค่ามาก แนะนำ,positive,31900,2024-01-10

In [21]:
df.to_csv('customer_feedback_cleaned.csv', index = False)

In [23]:
pd.read_csv("customer_feedback_cleaned.csv").head()

,customer_id,age,gender,product,rating,feedback,sentiment,spend,Date
0,C001,25.000000,M,Phone,5,สินค้าดีมาก ใช้งานลื่น,positive,15900,2024-01-05
1,C002,30.000000,F,Laptop,4,เครื่องแรง แต่แบตหมดไว,positive,28900,2024-01-06
2,C003,22.000000,F,Phone,2,เครื่องช้าและค้างบ่อย,negative,12900,2024-01-06
3,C004,40.000000,M,Tablet,5,เหมาะกับทำงานมาก,positive,18900,2024-01-07
4,C005,32.142857,F,Laptop,3,เฉย ๆ ไม่คุ้มราคา,neutral,27900,2024-01-08